body{
    background-color: black;
    display: flex;
    justify-content: center;    
    
}
article{
    background-color: white;
    display: inline-block;
    margin: 10% 10%;
    min-width: 300px;
    height: 100%;
    width: 50%;

}
header, .post-icons{
    display: flex;    
    justify-content: space-between;
    margin: 5%;
    top: 50%;
}
.post-header-left{
    display: flex;    
    align-items: center;
    }
.left-header{    
    padding-left: 10%;
    margin-top: 10%;    
}
.post-img{
    height: 400px;
    width: 100%;
    
}
.post-icons-left{
    display: flex;    
}
.post-body{
    margin-left: 0%;
    margin: 5%;
}
div{
    margin-right: 10px;
}
.fa{
    font-size: 1.5rem;
}